.footer-container {
  display: flex;
  flex-direction: row;
  height: 10rem;
  align-items: center;
  justify-content: space-evenly;
  background-color: #36454f;
  color: white;
}

ul {
  text-align: left;
}

li,
a {
  list-style: none;
  text-decoration: none;
  color: white;
  padding: 0.35rem;
}

.footer-link {
  text-decoration: none;
}
